.main-nav-wrapper {
    display: flex;
    flex-direction: column;

    .nav-links-wrapper {
        margin: 20px;

        ul {
            list-style-type: none;
        }

        .nav-link {
            text-decoration: none;
            padding: 8px;
            margin: 10px;
            color: white;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $title;
            }
        }
    }
}