.main-nav-wrapper {
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 10%;
    position: fixed;

    .nav-title {
        font-size: 2em;
        color: brown;
        padding: 8px;
    }

    .nav-links-wrapper {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .nav-link {
            text-decoration: none;
            padding: 8px;
            margin: 10px;
            color: white;
            border-bottom: 1px solid transparent;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $title;
            }
        }

        .link-active {
            border-bottom: 1px solid $title;
        }
    }
}