
.project-item-wrapper {
    width: 90%;
    height: 300px;
    margin: 25px 0;
    border-radius: 8px;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease-in-out;
    text-decoration: none;

    &:hover {
        border-bottom: 2px solid $charcoal;
    }

    .image-container {
        padding: 10px;
        height: 70%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .title-container {
        font-size: 1.6em;
        color: $title;
        text-align: center;
        padding: 10px;
    }

}